<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title><%=title%></title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
  <link href="../css/styles.css" rel="stylesheet">
</head>

<body>
  <header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Home</a>
      </div>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <%for(let i=0; i<nav.length; i++) {%>
          <li>
            <a href="<%=nav[i].link%>"><%=nav[i].title%></a>
          </li>
          <%}%>
      </ul>
      
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
          </h1>
    </div>
    <div class="col-md-5">

    </div>
    </div>
    </div><!-- /cont -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">

        </div>
      </div>
    </div><!-- /cont -->

    </div>


    <div class="container">
      <div class="row">

        <div class="col-md-12">

          <div class="panel">
            <div class="panel-body">
              <!--/stories-->
              <div class="row">
                <br>
                <div class="col-md-4 col-sm-6">

                  <% if(isAuthenticated === false){ %>
                  <h1>Sign Up!</h1> Or <a href='/auth/signin'>sign in</a>
                  <br /><br /><br />
                  <form name="signUpForm" action="/auth/signup" method="post">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Username</label>
                      <input id="username" name="username" type="text" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="User Name">

                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input id="password" name="password" type="password" class="form-control"
                        id="exampleInputPassword1" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  <% } else{ %>
                  <div>
                    You're signed in <a class="btn btn-default" href="/auth/logout">Sign Out</a>
                  </div>
                  <% } %>
                  <% if(!!error){ %>
                  <br />
                  <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <%=error %>
                  </div>
                  <% } %>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <!--/col-12-->
      </div>
    </div>

    <hr>

    <div class="container" id="footer">
      <div class="row">
      </div>
    </div>

    <hr>
    <hr>

    <footer>

    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>